* {
  box-sizing: border-box;
}

body {
  background-color: #ECF3F5;
  color: #4B5960;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
}

button {
  background-color: #70DA91;
  padding: 20px;
  box-shadow: none;
  border: none;
  color: #fff;
  font-size: 18px;
}

form button {
  width: 100%;
}

input {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 1px;
  outline: 0;
  border: none;
  font-size: 18px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A0A3BC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #A0A3BC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #A0A3BC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #A0A3BC;
}

.login h1 {
  margin: 50px 0 30px;
  font-size: 22px;
}

button.round-btn {
  border-radius: 25px;
}

button:focus {
  outline:none
}

button:active, button:hover {
  background-color: #62BD7B;
}

.App-header {
  padding: 3%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.h1 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.price {
  font-size: 18px;
  color: #70DA91;
  margin-top: 5px;
}

.caption {
  font-size: 12px;
  color: #A0A3BC;
  margin-bottom: 5px;
}

.Purchase {
  background-color: white;
  padding: 2% 3%;
  text-align: left;
}

.Purchase p {
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
