<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style>
     body { text-align: center; color: rgb(32, 74, 135); }
     h3 { padding: 20px 0; margin: 0 auto; width: 150px; background: rgb(32, 74, 135); }
     a { padding: 10px; color: #fff; font-weight: bold; }
    </style>
  </head>
  <body>
    <h1>Hi, a sign in link was requested with this email address.</h1>
    <h3><a href="{{link}}">Click here to Sign In</a></h>
    <h4>If you didn't really request it, you can just delete this
      message.</h4>
  </body>
</html>
